# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
env/
venv/
.venv/

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Test and coverage
.coverage
htmlcov/
.tox/
.pytest_cache/

# Logs
*.log

# Distribution / packaging
build/
dist/
*.egg-info/

